.terminals-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    width:100%;
    padding:15px;
    /* margin: 10px 15px; */
  }


.terminal-form{
    padding:15px;
    margin: 10px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--main-color);
    /* background-color: var(--secondary-color); */
    color:white;
    box-sizing: border-box;
  }

  .terminal-form > *{
     margin:5px 10px;
  }

  .terminal-form input{
    padding: 12px 20px;
    /* margin: 5px 0; */
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .terminal-form input:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(71, 71, 71, 0.5);
  }

  .terminal-form input[type=submit]{
    background-color: var(--main-dark-color);
    /* background-color: var(--secondary-dark-color); */
    color:white;
    border: 1px solid rgba(121, 107, 107, 0);
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 8px;
  }

  .terminal-form input[type=submit]:hover{
    outline: none;
    background-color:white;
    color: var(--main-dark-color);
  }
  .terminal-form input[type=submit]:active{
    outline: none; 
    background-color:rgb(194, 194, 194);
    color: var(--main-dark-color);
  }


  .terminal-form label{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .terminal-form label *{
    margin-top: 5px;
  }

  .terminals-title{
    display:flex;
    width:100%;
    box-sizing: border-box;
    justify-content: center;
    color: var(--main-dark-color);
  }

  /* @media screen and (min-width: 1200px) {
    .terminal-form{
      width:1200px;
      background-color:forestgreen;
    }
  } */
  
  /* @media screen and (min-width: 992px) and (max-width: 1200px) {
    .terminal-form{
      background-color:red;
      width:100%;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .terminal-form{
      width:100%;
      background-color:darkgoldenrod;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .terminal-form{
      width:100%;
      background-color:aqua
    }
  }
  
  @media screen and (max-width: 575px) {
    .terminal-form{
      width:100%;
      background-color:salmon
    }
  } */