

table.buyers-table{
    font-size: 1.2em;
    border-collapse: collapse;
    position: relative;
    width: 90%;
    /* table-layout: fixed; */
    max-width:1200px;
    min-width:400px;
    box-sizing: border-box;
  }

  table.buyers-table a{
    text-decoration: none;
    color:black;
  }

  table.buyers-table th,td {
    display: table-cell;
    border: 1px solid #dfdfdf;;
    /* border-bottom: 1px solid #dfdfdf; */
    /* border-top: 1px solid #dfdfdf; */
    text-align: left;
    padding: 8px;
    overflow: hidden;
    overflow-wrap: break-word;
    /* width:100%; */
    max-width: 25%;
  }

  table.buyers-table tbody{
    border: 1px solid #dfdfdf;;
  }

  table.buyers-table thead{
    border: 1px solid #dfdfdf;;
  }

  table.buyers-table tbody tr td:nth-child(1):hover {
    cursor: pointer;
  }

  table.buyers-table tbody tr:hover{
    background-color: #dfdfdf;
  }
  
  .table-container{
    padding:5px 0px;
    margin: 0px 15px 25px;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    min-width:80px;
  }
  
  .bar-container{
    padding:15px;
    margin: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    width:100%;
    min-width:80px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    overflow: hidden;    
    background-color: var(--main-color);
    color:white;
    box-sizing: border-box;
  }

    .bar-container *{
      padding:10px 0px;
      /* margin:0px 5px; */
  }

  .bar-container .bar-item{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width:33%;
    max-width:330px;
    overflow-wrap: break-all;
    margin:0px 5px;
  }

  .bar-container input{
    width: 20%;
    border: 1px solid rgba(76, 76, 77, 0.425);
    border-radius: 5px;
    padding: 5px;
    margin:10px;
    min-width: 50px;
  }
  
  .bar-container input:focus{
    outline: none;
    /* border: 1px solid rgb(76, 76, 77); */
    box-shadow: 0 0 8px rgba(71, 71, 71, 0.5);
  }

  .bar-container .sortType {
    width: 15%;
    min-width: 120px;
  }

  .bar-container .filter-input {
    width: 20%;
    max-width:160px;
  }

  .bar-container .listDivision {
    max-width:60px;
    width: 60px;
    min-width: 40px;
  }
  

  @media screen and (min-width: 1200px) {


  }
  
  @media screen and (min-width: 992px) and (max-width: 1200px) {


  }
  
  @media screen and (min-width: 850px) and (max-width: 991px) {
    table.buyers-table{
      table-layout: fixed;
      width:95%;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 849px) {
    table.buyers-table{
      table-layout: fixed;
      width:100%;
      font-size: 0.9em;
    }

    .bar-container {
      padding-right: 35%;
    }

    .bar-container .filter-input {
      width: 85px;
    }
  }

  @media screen and (max-width: 575px) {
    table.buyers-table{
      table-layout: fixed;
      width:100%;
      font-size: 0.9em;
    } 

    .table-container{
      overflow: scroll;
      display: block;
    }

    .bar-container {
      padding-right: 20%;
    }

    .bar-container .filter-input {
      width: 85px;
    }

  }

  @media screen and (max-width: 450px) {
    table.buyers-table{
      table-layout: fixed;
      width:100%;
      font-size: 0.8em;
    } 

    .bar-container{
      flex-direction: column;
    }
    .bar-container .filter-input {
      width: 100%;
    }
  }




