
.main-page-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    min-height:80vh;
    padding-left: var(--sidebar-width);
    padding-right:30px;
    width:100%;
    box-sizing: border-box;
}



@media screen and (max-width: 700px) {
    .main-page-container{
        padding-left:30px;
        width:100%;
        box-sizing: border-box;
    }
}
