
.main-page-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    margin-left: var(--sidebar-width);
    width:100%;
    padding: 0 20px;
    /* box-sizing: border-box; */
}
