
.main-page-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    min-height:80vh;
    padding-left: var(--sidebar-width);
    padding-right:30px;
    width:100%;
    /* padding: 0 20px; */
    box-sizing: border-box;
}
